* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    padding: 20px;
}
header img {
    width: 40px;
    height: auto;
}
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
}
.brand span {
    font-size: 18px;
    font-weight: bold;
}
.top-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 20px;
}
.top-nav a {
    text-decoration: none;
    color: black;
    padding-block: 10px;
}
.hero {
    padding: 40px 20px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(images/hero.jpg);
    background-size: cover;
    background-position: center;
}
.hero h1 {
    margin: 0 0 15px;
    font-size: 32px;
    line-height: 1.2;
    color: white;
}
.hero p {
    margin: 0 0 23px;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}
.button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #D78D26;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}
.intro {
    padding: 25px 20px;
    background-color: #F5F1E8;
    text-align: center;
}
.intro h2 {
    margin: 0 0 11px;
    font-size: 24px;
}
.intro p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.intro p + p {
    margin-top: 12px;
}
.activities {
    padding: 25px 30px;
    background-color: #D8DDD2;
}
.activities h3 {
    text-align: center;
    font-size: 24px;
    margin: 0 0 20px;
}
.card {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}
.card + .card {
    margin-top: 20px;
}
.card img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.card h4 {
    margin: 0;
    font-size: 18px;
    padding: 20px 20px 10px;
}
.card p {
    margin: 0;
    font-size: 16px;
    padding: 0 20px 20px;
    text-align: center;
    line-height: 1.5;
}
.plan {
    padding: 20px 15px; 
    background-color: #F5F1E8;
    text-align: center;
}
.plan h5 {
    font-size: 20px;
    margin: 0 0 10px;
    text-align: center;
}
.plan p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.plan .button {
    display: inline-block;
    margin: 15px 20px;
    text-align: center;
    padding: 15px 20px;
    width: 250px;
    transition: 0.3s;
}
.button:hover {
    background-color:#e9a84d
}
.footer {
    background-color: #617367
}